// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import (reference) "syntax-variables";
.Exemplator::shadow {
  .gfm {
    /* show markdown double-space line breaks */
    .linebreak:after {
      font-family: 'Octicons Regular';
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      text-decoration: none;
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
      content: "\f0a9"; //found no better icon in octicons
      color: @syntax-invisible-character-color;
    }
  }
  /* show invisibles only in selection */
  .invisible-character {
    color: @syntax-background-color;
  }
  /* show a dotted line underneath folded lines */
  .fold-marker {
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px dashed @syntax-invisible-character-color;
    }
  }
  .line.cursor-line .fold-marker {
    &::after {
      color: @syntax-text-color;
    }
    &::before {
      border-color: @syntax-text-color;
    }
  }
}

.Exemplator {
  display: block;
  width: 33vw;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;

  ul {
    margin-left: -15px;
    margin-right: 10px;

    overflow: scroll;
    overflow-x:visible;
    overflow-y:visible;
  }

  heading > h2 {
    display: inline-block;
  }

  .tpl {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .score {
    display: inline-block;
    float: right;
  }

  .code {
    display: block;
    width: 55vw;
    height: 35vh;
    overflow: scroll;
    overflow-x:visible;
    overflow-y:visible;
    padding: 0;
    float: left;
    letter-spacing: 0.5px;
    moz-user-select: all;
    -khtml-user-select: all;
    -webkit-user-select: text;
    -ms-user-select: all;
    user-select: all;
    tab-index: -1;
  }
}


/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

