// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import (reference) "syntax-variables";
.Exemplator::shadow {
  .gfm {
    /* show markdown double-space line breaks */
    .linebreak:after {
      font-family: 'Octicons Regular';
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      text-decoration: none;
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
      content: "\f0a9"; //found no better icon in octicons
      color: @syntax-invisible-character-color;
    }
  }
  /* show invisibles only in selection */
  .invisible-character {
    color: @syntax-background-color;
  }
  /* show a dotted line underneath folded lines */
  .fold-marker {
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px dashed @syntax-invisible-character-color;
    }
  }
  .line.cursor-line .fold-marker {
    &::after {
      color: @syntax-text-color;
    }
    &::before {
      border-color: @syntax-text-color;
    }
  }
}

.Exemplator {
  display: block;
  width: 33vw;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;

  ul {
    margin-left: -15px;
    margin-right: 10px;

    overflow: scroll;
    overflow-x:visible;
    overflow-y:visible;
  }

  heading > h2 {
    display: inline-block;
  }

  .tpl {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .score {
    display: inline-block;
    float: right;
  }

  .code {
    display: block;
    width: 55vw;
    height: 35vh;
    overflow: scroll;
    overflow-x:visible;
    overflow-y:visible;
    padding: 0;
    float: left;
    letter-spacing: 0.5px;
    moz-user-select: all;
    -khtml-user-select: all;
    -webkit-user-select: text;
    -ms-user-select: all;
    user-select: all;
    tab-index: -1;
  }
}

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
  border: 1px solid #ccc;
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px;
}

code {
  border: 1px solid #eaeaea;
  margin: 0px 2px;
  padding: 0px 5px;
  font-size: 12px;
}

pre code {
  border: 0px;
  padding: 0px;
  margin: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

pre, code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre, pre code {
  font-size: 13px;
}

pre .comment {
  color: #998;
}

pre .support {
  color: #0086B3;
}

pre .tag, pre .tag-name {
  color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
  font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
  color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
  font-weight: normal;
  color: #099;
}

pre .entity.class {
  color: #458;
}

pre .entity.id, pre .entity.function {
  color: #900;
}

pre .attribute, pre .variable {
  color: teal;
}

pre .string, pre .support.value  {
  font-weight: normal;
  color: #d14;
}

pre .regexp {
  color: #009926;
}
